/* En tu archivo CSS global */
@keyframes infinite-scroll {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

@layer utilities {
    .animate-infinite-scroll {
        animation: infinite-scroll var(--duration, 20s) linear infinite;
    }
}